fastapi
uvicorn[standard]
jinja2

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings
pydantic[email]
email-validator

python-multipart
python-dotenv

pyjwt
passlib

celery
redis

boto3

deepgram-sdk

groq

httpx

resend

paystackapi

requests
authlib

opencv-contrib-python-headless==4.10.0.84
ultralytics